<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bem-vindo(a)!</title>
  </head>
  <body>
    <h1>Bem-vindo(a) <%= @user.full_name %>!</h1>
    <p>Obrigado por se cadastrar em nosso site.</p>
    <p>Esperamos que você aproveite nossos recursos e serviços.</p>
  </body>
</html>
